/* RESET ALL CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

root {
    position: absolute;
}

/* Color variables */

:root {
    --color-background: #f2f0dd;
    --color-brown-main: #3c351e;
    --color-brown-light: #8b7c4b;
    --color-purple-light: #cec7e4;
    --color-purple-dark: #272448;
    --color-purple-main: #6e72b4;
    --color-pink-light-: #e6a2b8;
    --color-pink-dark: #823d67;
    --color-pink-main: #e83c67;
    --color-yellow-light: #f2d3a7;
    --color-yellow-dark: #8e6714;
    --color-yellow-main: #f2ac22;
}


/* CUSTOM FONTS  */


@font-face {
    font-family: 'Accanthis ADF Std';
    src: url(./fonts/accanthis-adf-std/AccanthisADFStdNo2-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}


@font-face {
    font-family: 'Helvetica Light';
    src: url(./fonts/Helvetica-Light.woff) format('woff');
}


/* Large HD scherm  standaard*/

html {
    /* Root size */
    font-size: 20pt;
    font-family: 'Accanthis ADF Std';
    color: var(--color-brown-main);
    background-color: var(--color-background);
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Light';
    line-height: 1.5;
    font-weight: normal;
}

p, a {
    color: var(--color-brown-main);
    font-size: 1rem;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.2rem;
}
p:after{
    margin-bottom: 1rem;

}
a {
    /* text-decoration: underline var(--color-yellow-main) 3px; */
    text-decoration: none;
}

a:hover {
    background-color: var(--color-yellow-main);
    color: white;
}



/* Normal HD screen (mijn comp)*/
@media only screen and (width <= 1950px) {
    html {
        font-size: 16pt;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.5;
    }
}

/* Intermediate screen */
@media only screen and (width <=992px) {
    html {
        font-size: 13pt;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }

}

/* Small screen */
@media only screen and (width <=600px) {
    html {
        font-size: 12pt;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.1;
    }

    p {
        text-align: justify;
    }

}